body {
  background: #F8E8A6;
  text-align: center;
}

.container {
  display: flex;
  gap: 25px;
  justify-content: center;
}

a {
    color: green;
}

a:hover {
  color: green;
}

img {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 100%;
}